@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,2,69,1) 35%, rgba(0,212,255,1) 100%);
    @apply text-white
}

.layout{
    margin:auto;
}

.header{
    padding:70px 20px 20px 20px;
    display:flex;
    align-items: center;
    position:relative;
    margin:auto;
    width:80%;
}

.header > h1{
    font-size:40px;
}

.signup {
    position:absolute;
    right:0%;
    font-size:20px;

}
.nav_profile{
    @apply py-4 px-8
}
.nav_header{
    background-color: #0A436C;
    @apply h-16 py-4
}
.navUser{
    width:380px;
    @apply bg-stone-800 h-full
}
.navUser > ul > li{
    @apply flex items-center
}

.navUser > ul > li > .nav_link > span{
    @apply mr-4
}
.navLink{
    @apply w-full
}

.navUser > ul > li > .nav_link{
    @apply pl-12 py-4 hover:bg-stone-900
}

.navUser > ul > li{
    @apply hover:bg-stone-900
}

nav > ul{
    font-size:20px;
    font-weight: 500;
}
.navHome{
    margin-left:15%;
}
.navHome > ul {
    display:flex;
}

.navHome > ul > li {
    margin-left:30%;
}

.home{    
    margin:auto;
    padding:7%;
    @apply flex justify-between
}

.home > div > h1{
    font-size:50px;
    font-weight:700;
}

.description-title > h1{
    width:600px;
    letter-spacing: 2px;
    
}
.form-wrapper{
    @apply px-20
}
.form-container{
    width:640px;
    @apply text-black rounded-3xl p-12 shadow-xl bg-white m-auto 
}
.login-form{
    width:480px;
    @apply text-black rounded-3xl p-12 shadow-xl bg-white m-auto 
}
form > h1{
    font-size:25px;
    font-weight: bolder;
    color: #003F67;
    text-align: center;
}

form > input[type="text"]{
    font-size:20px;
    padding:10px;
    width:100%;
    @apply border border-blue-700 rounded-md focus:outline-none
}
.form-container > .select-container > select,input{
    font-size:20px;
    padding:10px;
    width:100%;
    @apply border border-blue-700 rounded-md focus:outline-none
}

form > input[type="date"]{
    font-size:20px;
    padding:10px;
    @apply border border-blue-700 rounded-md focus:outline-none
}

.select-container{
    @apply flex
}
.select-container > select:not(:first-child){
    @apply ml-4
}

.input-container{
    @apply flex
}
.input-container > input:not(:first-child){
    @apply ml-4
}

.input-container > div:not(:first-child){
    @apply ml-4
}
.button-wrapper{
    margin:auto;
    font-size:20px;
}

.index-container{
    @apply w-11/12 m-auto
}

.registration-container{
    padding-top:100px;
}

.eyeIcon{
    color: rgb(30,48,80);
    font-size:30px;
}
.password-container{
    @apply flex items-center px-2 border border-blue-700 rounded-md
}
th, td {
    @apply py-2 pr-16   
}

.request_container{
    @apply rounded-2xl border-2 border-black p-8 text-xl mb-8
}
.request_container > h2{
    @apply font-bold
}
.request_container > input{
    @apply mt-4
}

.request_container > button{
    @apply py-2 px-8 rounded-2xl mt-4
}
.request_container > button:nth-of-type(1){
    @apply bg-green-600 text-white
}
.request_container > button:nth-of-type(2){
    @apply bg-orange-600 text-white
}
