@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,2,69,1) 35%, rgba(0,212,255,1) 100%);
    @apply text-white
}

.layout{
    margin:auto;
}

.header{
    padding:70px 20px 20px 20px;
    display:flex;
    align-items: center;
    position:relative;
    margin:auto;
    width:80%;
}

.header > h1{
    font-size:40px;
}

.signup {
    position:absolute;
    right:13%;
    font-size:20px;

}

nav{
    margin-left:15%;
}
nav > ul {
    display:flex;
    font-size:20px;
    font-weight: 500;

}

nav > ul > li {
    margin-left:30%;
}

.home{
    display:flex;
    margin:auto;
    padding:5%;
}

.home > div > h1{
    font-size:50px;
    font-weight:700;
    
}

.description-title > h1{
    width:600px;
    letter-spacing: 2px;
    
}
.form-wrapper{
    margin-left: 10%;
    @apply px-20
}

form{
    @apply text-black rounded-3xl p-16
}

form > h1{
    font-size:25px;
    font-weight: bolder;
    color: #003F67;
    text-align: center;
}

form > input{
    font-size:20px;
    padding:10px;
    width:400px;
    @apply border border-blue-700 rounded-md focus:outline-none
}

.button-wrapper{
    margin:auto;
    font-size:20px;
}






